@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.header-title {
  font-family: 'Bebas Neue', sans-serif;
  font-size: 6em;
  letter-spacing: 2.5px;
  margin: 0;
  padding-top: 3rem;
  height: 2em;
  color: black;
}

.today-date {
  margin-top: -4em;
  padding-bottom: 2rem;
  font-style: italic;
  font-size: 1.5em;
  color: black;
}

.header-link {
  text-decoration: none;
}
