@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.header-title {
  font-family: 'Bebas Neue', sans-serif;
  font-size: 6em;
  letter-spacing: 2.5px;
  margin: 0;
  padding-top: 3rem;
  height: 2em;
  color: black;
}

.today-date {
  margin-top: -4em;
  padding-bottom: 1.5rem;
  font-style: italic;
  font-size: 1.5em;
  color: black;
}

.header-link {
  text-decoration: none;
}

@media screen and (max-width: 500px) {

  .header-title {
    font-size: 2em;
    padding-top: 1em;
  }

  .today-date {
    margin-top: -5%;
    font-size: 1em;
    padding: 0;
  }
}
